#banner_accion {
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background: url(../images/accion.jpg) no-repeat center;
  background-size: 100% 100%;
}

#ts_top {

  width: 620px;
  height: 20px;
  background: url(../images/content_top.jpg) no-repeat;
}

#container_1 {
  width: 560px;
  padding: 10px 20px 20px 40px;
  background: url(../images/content_body.png) repeat-y;
}

.accion_1 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/extracto.jpg);
  background-size: cover;
}

.accion_11 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/extracto1.jpg);
  background-size: cover;
}

.accion_2 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/avengers.jpg);
  background-size: cover;
}

.accion_22 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/avengers1.jpg);
  background-size: cover;
}

.accion_3 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/triple_frontera.jpg);
  background-size: cover;
}

.accion_33 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/Triple_frontera1.jpg);
  background-size: cover;
}

.caja_accion h3 {
  text-align: center;
  font-size: 25px;
  color: red;

}