#banner_anime {
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background: url(../images/anime.jpg) no-repeat center;
  background-size: 100% 100%;
}

#ts_top {

  width: 620px;
  height: 20px;
  background: url(../images/content_top.jpg) no-repeat;
}

#container_1 {
  width: 560px;
  padding: 10px 20px 20px 40px;
  background: url(../images/content_body.png) repeat-y;
}

.anime_1 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/lost_song.jpg);
  background-size: cover;
}

.anime_11 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/lost_song1.jpg);
  background-size: cover;
}

.anime_2 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/dragon_ball.jpg);
  background-size: cover;
}

.anime_22 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/dragon_ball1.jpg);
  background-size: cover;
}

.anime_3 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/pokemon.jpg);
  background-size: cover;
}

.anime_33 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/pokemon1.jpg);
  background-size: cover;
}

.caja_anime h3 {
  text-align: center;
  font-size: 25px;
  color: red;

}