#banner_comedia {
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background: url(../images/comedia.jpg) no-repeat center;
  background-size: 100% 100%;
}

#ts_top {

  width: 620px;
  height: 20px;
  background: url(../images/content_top.jpg) no-repeat;
}

#container_1 {
  width: 560px;
  padding: 10px 20px 20px 40px;
  background: url(../images/content_body.png) repeat-y;
}

.comedia_1{
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/ted.jpg);
  background-size: cover;
}

.comedia_11 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/ted1.jpg);
  background-size: cover;
}

.comedia_2 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/que.jpg);
  background-size: cover;
}

.comedia_22 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/que_paso_ayer1.jpg);
  background-size: cover;
}

.comedia_3 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/proyecto_x.jpg);
  background-size: cover;
}

.comedia_33 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/proyecto_x1.jpg);
  background-size: cover;
}

.caja_comedia h3 {
  text-align: center;
  font-size: 25px;
  color: red;

}