.banner_terror {
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background: url(../images/terror.jpg) no-repeat center;
  background-size: 100% 100%;
}

#ts_top {

  width: 620px;
  height: 20px;
  background: url(../images/content_top.jpg) no-repeat;
}

#container_1 {
  width: 560px;
  padding: 10px 20px 20px 40px;
  background: url(../images/content_body.png) repeat-y;
}

.terror_1 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/la_llorona.jpg);
  background-size: cover;
}

.terror_11 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/la_llorona1.jpg);
  background-size: cover;
}

.terror_2 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/camino_hacia_el_terror.jpg);
  background-size: cover;
}

.terror_22 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/camino1.jpg);
  background-size: cover;
}

.terror_3 {
  border-radius: 30px;
  width: 270;
  height: 200;
  background: url(../images/el_conjuro.jpg);
  background-size: cover;
}

.terror_33 {
  border-radius: 30px;
  float: right;
  margin: -200px 0px 0px 0px;
  width: 270;
  height: 200;
  background: url(../images/el_conjuro1.jpg);
  background-size: cover;
}

.caja_terror h3 {
  text-align: center;
  font-size: 25px;
  color: red;

}